services:
  db:
    image: postgres:15
    env_file:
      - .env
  
    ports:
      - "5433:5432"

  redis:
    image: redis:7

  migrate:
    build:
      context: .
    command: bash scripts/migrate_and_create_superuser.sh
    env_file:
      - .env
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - db
    restart: "no"

  populate:
    build:
      context: .
    command: bash scripts/populate_data.sh
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      - migrate
    restart: "no"

  test:
    build:
      context: .
    command: bash scripts/run_tests.sh
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      - migrate
    restart: "no"

  web:
    build:
      context: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - migrate
      - populate

  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.local
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    stdin_open: true
    tty: true

  celery_worker:
    build:
      context: .
    command: celery -A config worker --loglevel=info
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.local
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - migrate
    restart: unless-stopped

  celery_beat:
    build:
      context: .
    command: celery -A config beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.local
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - migrate
    restart: unless-stopped

  backfill_time_series:
    build:
      context: .
    command: python manage.py backfill_time_series --clear
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - db
      - migrate
    restart: "no"

volumes:
  static_volume:
  media_volume:
